## https://hugovk.github.io/top-pypi-packages/

In [60]:
import requests
import json
import pandas as pd

%matplotlib inline
#RELEVANT_PROJECTS = ['numpy', 'pandas', 'sklearn', 
#                     'scikit-learn', 'matplotlib', 'bokeh', 'plotly', 'flask', 
#                     'keras', 'torch', 'pytorch', 'torchvision', 'tensorflow']

RELEVANT_PROJECTS = ['matplotlib', 'bokeh', 'plotly']


def get_data():
    d30 = requests.get("https://hugovk.github.io/top-pypi-packages/top-pypi-packages-30-days.json")
    d365 = requests.get("https://hugovk.github.io/top-pypi-packages/top-pypi-packages-365-days.json")
    df_30 = pd.DataFrame(d30.json()['rows'])[['project', 'download_count']]
    df_365 = pd.DataFrame(d365.json()['rows'])[['project', 'download_count']]
    df_30['download_count'] = (df_30['download_count']/1000).astype(int).astype(str) + "K"
    df_365['download_count'] = (df_365['download_count']/1000).astype(int).astype(str) + "K"
    return df_30, df_365

df_30, df_365 = get_data()

In [61]:
df_30[df_30.project.isin(RELEVANT_PROJECTS)]

        project download_count
74   matplotlib          8008K
308      plotly          1605K
739       bokeh           450K

In [62]:
df_365[df_365.project.isin(RELEVANT_PROJECTS)]

        project download_count
67   matplotlib         62503K
305      plotly         12507K
640       bokeh          4510K

In [66]:
display(df_30.head(1), df_30.sample(1))

   project download_count
0  urllib3         78719K

       project download_count
2365  stomp-py            42K

In [67]:
display(df_365.head(1), df_365.sample(1))

   project download_count
0  urllib3        680853K

          project download_count
4025  sqlacodegen           128K